<h3>Enter a user's twitter handle to view their tweets</h3>
<%= form_tag(tweet_streams_path) do %>
  <%= label_tag "twitter handle" %>
  <%= text_field_tag("twitter_handle")  %>
  <%= submit_tag "dem tweets doe" %>
<% end %>
